## DATABASE

# Connection
default_connection: mysql

# MySQL
mysql:
    database: thunder
    host: localhost
    username: root
    password: root
    charset: utf8
    collation: utf8_unicode_ci
    lazy: true

## RESPONSE FORMATER
response_format: json

## SECURITY
secret_token_lenght: 128
token_lenght: 512
auth_header: X-AUTH-TOKEN